$content-with: 900px;
$main-color: #052962;

@mixin focus {
  &:focus {
    outline: $main-color dashed 1px;
  }
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  src: local("Roboto"), local("Roboto-Regular"),
  url("assets/fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"),
  url("assets/fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff"),
  url("assets/fonts/roboto-v20-cyrillic_latin-regular.ttf") format("truetype")
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: $content-with;
  min-height: 100vh;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
}

.main-header {
  width: $content-with;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    @include focus;
  }
}

.logo {
  width: 150px;

  svg {
    fill: $main-color;
  }

  @include focus;
}

.search-input {
  input {
    width: 400px;
    height: 47px;

    padding: 0 20px;
    font-size: 20px;

    border: 2px solid $main-color;
    border-radius: 30px;

    outline: none;

    @include focus;
  }
}

.search-button {
  width: 200px;
  height: 47px;

  padding-top: 13px;

  font-size: 15px;
  font-weight: 700;

  color: white;
  background-color: $main-color;

  border: 0 solid;
  border-radius: 30px;

  text-align: center;
  text-decoration: none;

  @include focus;
}

.search-results {
  width: $content-with;
  margin: 0 auto;

  h1 {
    font-size: 1.2em;
    margin: 0.5em 0;
  }

  .article {
    margin-bottom: 20px;
    padding: 5px 20px 10px;
    border: 2px solid $main-color;

    a {
      text-decoration: none;
      color: #AB0613;
      &:focus {
        outline: none;
      }
    }

    &:focus-within {
      outline: $main-color dashed 1px  ;
    }

    .article-date {
      color: black;
      font-size: 14px;
      font-weight: 700;
    }
  }

}

.alert-danger {
  width: $content-with;

  margin: 0 auto;
  padding: 20px;

  font-size: 15px;
  color: red;

  border: 2px solid red;
}

.progress-wrapper {
  width: $content-with;
  height: 5px;
  margin: 0 auto;

  .progress {
    width: 0;
    height: 100%;
    background-color: lightgreen;
  }
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  color: $main-color;
  font-size: 12px;
  font-weight: 700;
}

.pagination-button {
  margin-left: 5px;
  padding: 5px 10px;

  color: white;
  background-color: $main-color;

  border: 0 solid;
  border-radius: 30px;

  cursor: pointer;

  @include focus;

  &:disabled {
    opacity: 0.3;
  }
}
